:root {
  --color1: #ffffff;
  --color2: #A85751;
  --color3: #E51A1A;
  --color4: #731212;
  --color5: #2B0000;
  --color6: #000000;
  --color7: #faf5f5;

  --sans: system-ui, 'Segoe UI', Roboto, sans-serif;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
  --mono: ui-monospace, Consolas, monospace;

  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  color-scheme: light dark;
  color: var(--color6);
  background: linear-gradient(to bottom, var(--color5), black);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--heading);
  font-weight: 500;
  color: var(--text-color5);
}

a {
  color: blue;
  transition: color 0.2s ease;
}

a:hover {
  color: rgb(46, 119, 255);
}

a:active {
  color: rgb(0, 47, 150);
}

.fs15 {
  font-size: 15px;
}

.pt8 {
  padding-top: 8px;
}

.mt10 {
  margin-top: 20px;
}

.mt-10 {
  margin-top: -10px;
}

.mb-10 {
  margin-bottom: -10px;
}

.mb8 {
  margin-bottom: 8px;
}

.space-btwn-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
